<div id="login-container">
    <div id="login-card">
        <h1>Gimnasio Body Fit</h1>
        <img src="/assets/imagenes/logo_unipaz_bg.png" width="50px" alt="icono unipaz" srcset="">
        <h3>Iniciar Sesión</h3>

        <form>
            <div id="usuario" class="input-pareja">
                <label for="usuario">Usuario</label>
                <input type="text" placeholder="Ingrese nombre de usuario" id="usuario" type="text">
            </div>
            <div  class="input-pareja">
                <label id="password" for="password">Contrasenia</label>
                <input type="password" placeholder="Ingrese password" id="password" type="text">
            </div>

            <button type="submit" class="btn--primary">Ingresar</button>

        </form>

    </div>
</div>